*.claudio.adavance.com {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}

	@cotizador host cotizador.claudio.adavance.com
	handle @cotizador {
		reverse_proxy host.docker.internal:3000
	}

	@cotizador-db host cotizador-db.claudio.adavance.com
	handle @cotizador-db {
		basic_auth {
			admin $2a$14$Ihx71qo8ZjZderjKCZR9eeieGmPmQEeR5IBJEo8eWQh66hVqHmUve
		}
		reverse_proxy host.docker.internal:3011
	}

	@cotizador-code host cotizador-code.claudio.adavance.com
	handle @cotizador-code {
		basic_auth {
			admin $2a$14$Lr92pPkUDxWMqBM9qQBJwuDp.5.STGRuM.KrSfjSHBDTxHj35emS6
		}
		reverse_proxy host.docker.internal:3013
	}

	@cotizador-files host cotizador-files.claudio.adavance.com
	handle @cotizador-files {
		reverse_proxy host.docker.internal:3012
	}

	@tvn-db host tvn-db.claudio.adavance.com
	handle @tvn-db {
		basic_auth {
			admin $2a$14$RwJrkdvMB1KwbgRpNB3LVel6Zk.i9zEhXhEeiBc4eYqU0vJ9iWk6W
		}
		reverse_proxy host.docker.internal:4011
	}

	@tvn-cms host tvn-cms.claudio.adavance.com
	handle @tvn-cms {
		reverse_proxy host.docker.internal:4000
	}

	@tvn-backend host tvn-backend.claudio.adavance.com
	handle @tvn-backend {
		reverse_proxy host.docker.internal:4001
	}

	@tvn-mobile host tvn-mobile.claudio.adavance.com
	handle @tvn-mobile {
		reverse_proxy host.docker.internal:4002
	}

	handle {
		respond "Not found" 404
	}
}
